
#myTable{
    width: 100%;
}

div.dataTables_length {
    float: left;
    background-color: #608dbd;
    /*position: absolute;
    left: 500px;*/
}

 
div.dataTables_filter {
    float: right;
    margin-bottom: 10px;
    background-color: #608dbd;
}
 
div.dataTables_info {
    float: left;
    background-color: #bfd1e4;
    margin-top: 10px;
}
 
div.dataTables_paginate {
    float: right;
    background-color: #bfd1e4;
    margin-top: 10px;
}

#myTable thead th{
     background-color: #8fafd0;
}
 
div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate,
div.dataTables_info {
    padding: 6px;
}

#search {
    float: right;
    padding: 10px;
    margin-right: 5%;
}

#datePickerPosition{
    float:left;
    margin-top: 20px;
    margin-left: 0%;
    margin-bottom: 30px;
}

#userPosition{
    margin-right: 10px;
    margin-top: 10px;
}


#IMGlogo{
    position:relative; 
    right: 50px;
    top: 0;
}

#backgroungImg{
    width:680px;
    height:450px; 
    position: relative; 
    top: 0;
    left: 0;
}

#loginLogo{
    width:300px; 
    height:60px;
}

#loginPosition{
    position: absolute; 
    top: 30px; 
    left: 540px;
}

#headerLinks{
    margin-right: 10px;

}